td{
	padding-left:10px;
	padding-right:10px;
	vertical-align:middle;
	text-align: center;
}

tbody {
	border : thick solid #454545;
}

.generalResultsColumn{
	border-right : thick solid #454545;
}

.generalResultsColumn div{
	font-weight: bold;
}

.label{
	color : gray;
}

.plus, .critical{
	color : red;
}

.warning{
	color : orange;
}

.minus{
	color : green;
}








