<h2 class="widget-title">SMOKE TESTS</h2>
<div class="content auto-font-resize">
		<h3 class="job-name"> </h3>
		<div class="test-results"></div>
		<div class="progress-bar-container">
			<div class="progress-bar"></div>
			<div class="progress-bar-success"></div>
		</div>
		<div class="failed-tests"></div>
		
</div>
