.progress-bar-container {
	position:relative;
}

.progress-bar { 
	width: 100%;
	height: 24px;
	position:absolute;
	background-color: red;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: inset 0 1px 2px #000,
	0 1px 0 #2b2b2b;
	-webkit-box-shadow: inset 0 1px 2px #000,
	0 1px 0 #2b2b2b;
	-moz-box-shadow: inset 0 1px 2px #000,
	0 1px 0 #2b2b2b;
}

.progress-bar-success { 
	content: '';
	position:absolute;
	width: 100%;
	height: 24px;
	background: green;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 
	inset 0 -1px 3px rgba(0, 0, 0, 0.4), 
	0 1px 1px #000;
	-webkit-box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3),
	inset 0 -1px 3px rgba(0, 0, 0, 0.4),
	0 1px 1px #000;
	-moz-box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3),
	inset 0 -1px 3px rgba(0, 0, 0, 0.4),
	0 1px 1px #000;
}

.failed-tests > ul {
	border-style: solid;
	border-width: medium; 
	border-color:red; 
	margin-top:30px;
}

.failed-tests > ul > div {
	color: red;
}

.failed-tests > ul  > li > div {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	color:gray;
}

