
td, th {
    vertical-align: bottom;
	text-align: center;
	font-size : x-large;
	padding: 10px;
}

th {
	border-bottom: medium solid white;
}

.critical {
	background-color: red;
}



.vmState span + span {
    border-left: solid white 1px;
	padding-left: 5px;
	margin-left:5px;	
}




