
<h2 class="widget-title">VM STATE</h2>
<div class="content auto-font-resize">	
	 <table style="width:100%" class="vmState">
		  <tr>
			<th></th>
			<th>VM</th>
			<th>CPU (%) </th>
			<th>RAM (%)</th>
			<th>HD (Gb Left)</th>
		  </tr>
	</table> 		
			
</div>
